.type.storage,.type.storage.declaration, .storage.class.modifier {
    font-family: "Script12 BT";
  font-size: 1.2em;
}

.type.storage.arrow.function {
  font-family: 'Fira Code'
}

.decorator.name, .decorator.punctuation:not(.block), .import.keyword {
    font-family: "Script12 BT";
    font-size: 1.2em;
    color: #68f39b!important;
}
.attribute-name {
    font-family: "Script12 BT";
    font-size: 1.2em;
}

.html.quoted.double {
    color: #a6f3a6!important;
}
.comment {
	color: #c5c5fd!important;
}
.comment:not(.punctuation) {
    font-family: "Script12 BT";
    font-size: 1.2em;
}

/* Set italics and comments to the script font */
.mtki, .mtk5 {
    font-family: "Script12 BT";
    font-size: 1.2em;
    font-style: normal;
}