createdAt: "2018-10-22T03:30:21.191Z"
updatedAt: "2018-10-22T22:57:26.672Z"
type: "MARKDOWN_NOTE"
folder: "bcf5470231ad894ddab7"
title: "News Corp Changes"
content: '''
  # News Corp Changes
  
  new-subscription
  resend-information
  offers
  top-up
  pick-up
  check-email
  paper-pickup-history
'''
tags: []
isStarred: false
isTrashed: false
